<ion-header>
  <ion-toolbar>
    <ion-title>Camp Details</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-grid class="ion-no-padding ion-no-margin">
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col>
        <ion-card  style="border-radius: unset; margin-bottom: 0px;">
          <ion-card-header class="ion-text-right">
            <ion-card-title style="font-size:16px">Assigned</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid class="ion-no-padding ion-no-margin">
              <ion-row>
                <ion-col size="4" class="camp-list-header">Cam Id:</ion-col>
                <ion-col size="8" class="camp-list-value">A001</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4" class="camp-list-header">Pharmacy:</ion-col>
                <ion-col size="8" class="camp-list-value">Sun</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4" class="camp-list-header">Date & Time:</ion-col>
                <ion-col size="8" class="camp-list-value">March 26, 2019 11:30 AM</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4" class="camp-list-header">Doctor Name:</ion-col>
                <ion-col size="8" class="camp-list-value">Dr Himanshu Shekhar</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4" class="camp-list-header">Location:</ion-col>
                <ion-col size="8" class="camp-list-value">Bangalore, Karnataka</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4" class="camp-list-header">Camp Address:</ion-col>
                <ion-col size="8" class="camp-list-value">Mallikarjun Building, 4th cross, marathalli,
                  Bangalore-560037</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4" class="camp-list-header">Customer Executive:</ion-col>
                <ion-col size="8" class="camp-list-value">Mr. Saurav Bakhsi <br />
                  +918496051459</ion-col>
              </ion-row>
              <ion-item class="ion-no-padding">
                <ion-label>COMMUNICATION EMAIL</ion-label>
              </ion-item>
              <ion-row>
                <ion-col size="4" class="camp-list-header">Email:</ion-col>
                <ion-col size="8" class="camp-list-value">bakshi.saurav@gmail.com</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4" class="camp-list-header">Password:</ion-col>
                <ion-col size="8" class="camp-list-value" type="password">111222333</ion-col>
              </ion-row>
              <ion-row>
                <ion-col size="4" class="camp-list-header">Patent prifix:</ion-col>
                <ion-col size="8" class="camp-list-value">A153him01</ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
        <ion-button color="zeisscolor" type="button" class="ion-no-margin" style="height: 50px; width: 95%; margin-left: 2.5%;" expand="full"> Complete</ion-button>
        
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>