


<ion-content>
  <ion-tabs  >
    <ion-tab-bar slot="bottom" color="zeisscolor">
      <ion-tab-button tab="assignedCamp" color="#fff">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Assigned To Me</ion-label>
        <ion-badge color="danger">2</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="completed-camp">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>Completed Camp</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tracking-camp">
        <ion-icon name="map"></ion-icon>
        <ion-label>Tracing Camp</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
